<style>
  html, body
  {
    margin: 0;
  }

  header
  {
    background-color: #226;
    padding: 8px;
    margin: 0px;
    color: #eef;
    box-shadow: 0px 2px 0px 0px #aaa;
  }

  article
  {
    margin: 32px 16px 0px 16px;
  }


  table
  {    
    border-collapse: separate;
    border-spacing: 0;
    border-left: solid 0px #888;
    border-top: solid 0px #888;
    border-radius: 8px 8px 0 0;
  }

  tbody tr:nth-child(odd)
  {
    background-color: #ccc;
  }
  
  table tr:first-child th:first-child
  {
    border-top-left-radius: 8px;
  }
  
  table tr:first-child th:last-child 
  {
    border-top-right-radius: 8px;
  }

  table tr:last-child td:last-child
  {  
    border-bottom-right-radius: 8px;
  }
  
  table tr:last-child td:first-child
  {
    border-bottom-left-radius: 8px;
  }

  td, th
  {
    padding: 4px;
    border-right: solid 1px #888;
    border-bottom: solid 1px #888;
    min-width: 80px;
  }

  tr td:first-child, tr th:first-child{
    border-left: solid 1px #888;
  }
  table tr:first-child th{
    border-top: solid 1px #888;
  }

  td:nth-child(n + 3), th:nth-child(n + 3)
  {
    text-align: center;
  }

</style>

<header>
  <h1>Demo App</h1>  
</header>

<article>
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

</article>
